<div class="background" style="background: url('{{ asset('bg.png') }}') repeat center center fixed"></div>
<div class="background-logo">
    <div class="background-logo-mover ">
        <img src="{{ asset('lion-face.png') }}" class="" alt="">
    </div>
</div>