<nav class="navbar navbar-expand-md navbar-light bg-transparent navbar-sticky position-relative animate__animated animate__fadeInDown" id="nav">
    <div class="glass"></div>
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('lion.svg') }}" alt="TOTOGUILLAUME"><span class="ms-2 text-white">Toto Guillaume</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#totoNavbar" aria-controls="totoNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="totoNavbar">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" target="_blank" href="https://www.youtube.com/channel/UCP0E9U3vRMNbDz0phpPJFlw"><i class="social-icon fab fa-2x fa-youtube ms-2" style="color: #FF0000"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" target="_blank" href="https://twitter.com/toguyconcept"><i class="social-icon fab fa-2x fa-twitter ms-2" style="color: #1DA1F2"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" target="_blank" href="https://www.instagram.com/totoguillaume/"><i class="social-icon fab fa-2x fa-instagram ms-2" style="color: #AB2FB6"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" target="_blank" href="https://cm.linkedin.com/in/toto-guillaume-842361193"><i class="social-icon fab fa-2x fa-linkedin ms-2" style="color: #056CB7"></i></a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" aria-current="page" target="_blank" href=""><i class="social-icon fab fa-2x fa-facebook ms-2" style="color: #4867AA"></i></a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>