body {
    background: #ab0000 !important;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    position: relative;
}

body > .background, body > .background-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-size: cover;
}

body > .background-logo {
    opacity: .4;
}

body > .background {
    opacity: .6;
}

body > .background-logo .background-logo-mover {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body > .background-logo .background-logo-mover img {
    -webkit-animation-duration: 6s;
    animation-duration: 6s;
    height: 100vh;
    width: auto;
    position: absolute;
    opacity: .6;
}

@media only screen and (min-width: 480px) {
    body > .background-logo .background-logo-mover img {
        right: -50vw;
    }
}

@media only screen and (min-width: 768px) {
    body > .background-logo .background-logo-mover img {
        right: -40vw;
    }
}

@media only screen and (min-width: 1024px) {
    body > .background-logo .background-logo-mover img {
        right: -30vw;
    }
}

@media only screen and (min-width: 1200px) {
    body > .background-logo .background-logo-mover img {
        right: -20vw;
    }
}

@media only screen and (min-width: 1200px) {
    body > .background-logo .background-logo-mover img {
        right: -10vw;
    }
}

.navbar {
    width: 100%;
    /*margin-bottom: auto;*/
}

.navbar > .container-fluid {
    z-index: 1001;
}

.navbar-brand > img:hover {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

.navbar-brand > img {
    -webkit-transition: all ease-in-out .5s;
    -o-transition: all ease-in-out .5s;
    transition: all ease-in-out .5s;
    height: 50px;
    width: auto;
}


#content {
    -webkit-box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2);
    border-radius: 5px;
    position: relative;
    z-index: 1;
    color: #111111;
    background: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    padding: 3rem;
}

#scroller {
    overflow-y: auto;
    height: 100%;
    z-index: 1000;
}

#scroller::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

#scroller::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 0;
}

#scroller::-webkit-scrollbar-thumb:hover {
    background: #000000;
}

#scroller::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 0;
    -webkit-box-shadow: inset 0 0 0 0 #f0f0f0;
    box-shadow: inset 0 0 0 0 #f0f0f0;
}

#nav > .glass {
    z-index: 100;
    overflow: hidden;
    color: #111111;
    background: rgba(0, 0, 0, 0.1);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#nav {
    -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

#content:before, #nav > .glass:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    -webkit-filter: blur(10px);
    filter: blur(10px);
    margin: -20px;
}

#footer {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer a:hover {
    color: #cecece;
}

#footer a {
    text-decoration: none;
    color: white;
}

#headline {
    height: 100vh;
    width: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /*filter: blur(3px);*/
    /*-webkit-filter: blur(3px);*/
}

.form-control {
    background-color: #555555;
    color: #ffffff;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
textarea,
textarea:focus {
    box-shadow: none !important;
    outline: 3px #555555 !important;
    border: 1px solid #555555 !important;
}

h1, h2, h3, h4, h5, h6 {
    color: #111111;
}

.social-icon {
    transition: all ease-in-out .5s;
}

.social-icon:hover {
    transform: scale(.8);
    filter: grayscale(100%);
}

.headline-text {
    font-size: 10vw;
}

.headline-text-dark {
    color: #111111;
}

.headline-text-white {
    color: #ffffff;
}